<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="hide col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Event.ino</h5>
          <p>Regalati un'esperienza fantastica</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="hide clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Contattaci</h5>
  
          <ul class="list-unstyled">
            <li><a href="mailto:davide.schiaroli2@studio.unibo.it">davide.schiaroli2@studio.unibo.it</a></li>
                <li><a href="mailto:luca.rossi157@studio.unibo.it">luca.rossi157@studio.unibo.it</a></li>
                <li><a href="mailto:leonardo.micelli@studio.unibo.it">leonardo.micelli@studio.unibo.it</a></li>
          </ul>
  
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright - 
        <a href="https://www.google.com/maps/place/Via+Mulini,+11,+47521+Cesena+FC/@44.1416185,12.239516,17z/data=!3m1!4b1!4m5!3m4!1s0x132ca4c5befaff75:0x904e6e1f2678cec!8m2!3d44.1416147!4d12.2417047?hl=it">
            Vieni a trovarci
        </a>

    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->