<div class="input-append">
<label for="become_organizer">Fai diventare organizzatore</label>
<input name="become_organizer" id="become_organizer"/>
<button id="btn-become-org" class="btn btn-primary mb-2" >promuovi</button>
</div>