<footer>
    <div class="row">
        <div class="col-sm-3">
            <h3>Event.ino</h3>
            <p>Compra i biglietti per i tuoi eventi preferiti</p>
        </div>
        <div class="col-sm-6">
            <div class="col-abs">
                <h4>Davide Schiaroli</h4>
            <p>Developer</p>
            </div>
            <div class="col-abs">
                <h4>Luca Rossi</h4>
            <p>Developer</p>
            </div>
            <div class="col-abs">
                <h4>Leonardo Micelli</h4>
            <p>Developer</p>
            </div> 
        </div>
        <div class="col-sm-3">
            <div class="info-container">
                <a href="https://www.google.com/maps/place/Via+Mulini,+11,+47521+Cesena+FC/@44.1416185,12.239516,17z/data=!3m1!4b1!4m5!3m4!1s0x132ca4c5befaff75:0x904e6e1f2678cec!8m2!3d44.1416147!4d12.2417047?hl=it">Via mulini 11, Cesena 47521 (FC), Italy</a>
                <h2>Scrivici per informazioni</h2>
                <ul>
                <li><a href="mailto:davide.schiaroli2@studio.unibo.it">davide.schiaroli2@studio.unibo.it</a></li>
                <li><a href="mailto:luca.rossi157@studio.unibo.it">luca.rossi157@studio.unibo.it</a></li>
                <li><a href="mailto:leonardo.micelli@studio.unibo.it">leonardo.micelli@studio.unibo.it</a></li>
                </ul>
                </div>
            </div>
        </div>
</footer>