body{
    background: url(../images/prova.jpg) no-repeat center center fixed; 
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}


@media (min-width:500px){
    .form-container-sig, .form-container-log{
        max-width: 500px;
    }
}
@media(max-width:500px){
    .form-container-sig, .form-container-log{
        max-width: 95%;
    }
}
.form-container-log{
    margin-top: 20vh;
}

.form-container-sig, .form-container-log{
    display: block;
    border: 1px solid;
    background-color: aliceblue;
    padding: 30px 40px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;
}

.sig-link{
    margin-top: 10px;
}

.index-img{
    width: 120px;
    height: 30px;
}

.btn, .index-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.err-message{
   color:red;
}